.header {
    background-image: url(images/h_img.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.services {
    background-image: url(images/s_image.jpg);
    height: 100vh;
    background-position: center;
}
.contact {
    background-image: url(images/c_image.jpg);
    height: 100vh;
    background-position: center;
}
.para1{
    display: none;
}

.para2{
    display: none;
}

.para3{
    display: none;
}

/* .work img{
    transform: scale(0.98);
}

.work img:hover{
    transform: scale(1.15);
} */

.form-control{
    opacity: 0.1;
    display: block;
    border: white;
}
.card1{
    display: none;
}

.card2{
    display: none;
}

.card3{
    display: none;
}

.card4{
    display: none;
}

.card5{
    display: none;
}

.card6{
    display: none;
}

.card1{
    display: none;
}

.card7{
    display: none;
}

.card8{
    display: none;
}



