.header {
    background-image: url(images/h_img.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    }

    .services {
        background-image: url(images/s_image.jpg);
        height: 100vh;
        background-position: center;
        }
